body {
	border: solid black;
	font-family: sans-serif;
}

.NavBar {
	font-size: 35px;
	margin: 20px 20px 20px 20px;
}

.MovieListEntry {
	font-size: 25px;
	border: solid black;
	padding: 20px 0px 20px 0px;
}
